<header>
    <nav class="navbar">
                <ul>
                    <li><a href="/" class="btn btn-link"> Home </a></li>
                    <li><a href="/projects" class="btn btn-link"> Projects </a></li>
                    <li><a href="/about" class="btn btn-link"> About </a></li>
                    <li><a href="/skills" class="btn btn-link">Skills</a></li>
                    <li><a href="/contact" class="btn btn-link"> Contact </a></li>
                     {{#if isLoggedIn}}
                    <li><a href="/login-get" class="btn btn-link">{{name}}</a></li>
                {{else}}
                <li><a href="/login-get" class="btn btn-link">Login</a></li>
                  {{/if}}
                </ul>
    </nav>
</header>
