<div id="main">
    <div>
        <h1>About</h1>
        <div>
           I'm a computer science student with a passion for coding, problem-solving, and all things tech. I thrive on tackling challenging projects and love to explore the endless possibilities of the digital world. Whether it's writing code or tinkering with hardware, I'm always eager to learn and grow in the ever-evolving field of computer science.
        </div>
    </div>
</div>