<div id="main">
    <div class="contactform">
        <h1>Contact</h1>
       <form action="">
        <label for="">email</label>
        <br>
        <input type="text" placeholder="@Sender">
        <br>
        <textarea rows="4" cols="50">Message</textarea>
        <br>
        <button type="submit">Send</button>
       </form>
    </div>
</div>