<div id="maincontent" class="container">
    <div class="columns ">
        <div class="column col-6 col-md-12" id="profileInfo">
            <h1>Hey! I'm<span class="spanner"> Elvis</span></h1>
            <h2>A computer science student</h2>
            <h2>Welcome to my portfolio</h2>
            <a href="https://github.com/ejaz0" target="_blank" class="gitlink"><button class="btngit"> <img src="/img/git.png" alt="GitHub Icon" class="github-icon">My GitHub</button></a>
        </div>
        <div class="overlay"></div>
        <div class="imgback"><img src="/img/crazy.jpg" alt=""></div>
    </div>

</div>

