<div id="main">
    <div>
        <h1>My projects NOW on GitHub</h1>
        <p>
            Welcome on my portfolio. This website presents my work in Research and Education at three different universities. Enjoy!
        </p>
    </div>
</div>
