<div id="mainlogin">
  <h1>Register</h1>
  <div class="loginform">
      <form action="/register-get" method="POST" id="formlogin">
        <label for="uname">Enter username</label>
        <input type="text" name="uname" placeholder="username" required>
        <label for="upassword">Enter password</label>
        <input type="password" name="upassword" placeholder="password" required>
        <button type="submit">Register</button>
        <a href="/login-get">Already have a account?</a>
      </form>
  </div>
</div>
